# Supabase
EXPO_PUBLIC_SUPABASE_URL=https://yvuvmpyqunzpnicwjscg.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl2dXZtcHlxdW56cG5pY3dqc2NnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE0NDUxNDQsImV4cCI6MjA5NzAyMTE0NH0.1lencj0qZR7qdBkW7sGys-L3W1lTWRX5Nd_uJlTLAGc
